{% extends 'mobile/common.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}

<div style="border-bottom: 400px; margin-top: 10px; margin-left: 350px; margin-right: 350px; border: 2px solid black; border-radius: 10px; background-color: #2ddbeb"">
    <div style="margin: 10px;">
      <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
      <div>
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    
    <form method= "POST" enctype= "multipart/form-data">
        {% csrf_token %}
        
        <fieldset class="form-group" style="margin: 10px;">
            <legend class= "border-bottom mb-4"> Profile Info </legend>
            
            {{u_form | crispy}}
            {{p_form | crispy}}
            
        </fieldset>
        
        <div class="form-group" style="margin: 10px;">
        
            <button type= "submit" class= "btn btn-primary"> Update </button>
        
        </div>
    </form>
<div>

{% endblock %}